<div class="row" id="index-page">
  <div class="col">
    <h2>Memory Game</h2>
    <p>enter the name of the game you'd like to start/join:</p>
    <p><input type="text" id="game-input"></p>
    <p><a id="join-link" href="/game/demo">Start/Join a Game</a></p>
  </div>
</div>
